<%- include('partials/header') -%>
<a href="/"><button type="button" class="btn btn-dark my-4 mx-4 shake shake">Go back</button></a>
<a href="/languages"><button type="button" class="btn btn-primary gradient-background">Go to Languages</button></a>

<div class="about container">
    <div class="left-section">
<h3 class="draw">Hello, I am Anray.</h3> My coding odyssey started as a young adult, where I was introduced to the enchanting world of basic HTML. <br>
This initial fascination has grown into a profound passion, propelling me to where I am now—a dedicated coder with a thirst for knowledge.<br>
        As I embark on the next stage of my life, my goal is clear: to become an official full stack developer. <br>
        Eager for the challenges and triumphs ahead, I am committed to continuous learning and innovation, ready to shape the digital landscape. Let's build something extraordinary together.<br>
        <a href="/contact"><button type="button" class="btn btn-primary gradient-background my-4">Contact me!</button></a>

    </div>
    <div class="about-image"><img src="assets/me2.png"  height="500" ></div>
</div>

  


  
<%- include('partials/footer') -%>