<%- include("partials/header") -%>
<a href="/"><button type="button" class="btn btn-dark my-4 mx-4 shake shake">Go back</button></a>

<!-- EJS templalting can be used in the following. -->

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">The Complete 2024 Web Development Bootcamp
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">At 62+ hours, this Web Development course is without a doubt the most comprehensive web development course available online. Even if you have zero programming experience, this course will take you from beginner to mastery.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/?kw=complete&src=sac" >
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Read more...</button>
        </a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-3be877b3-334a-4c53-801e-1786f43b0df0.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">
        CTU : Programming Foundation
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">I am currently enrolled at CTU Training Solutions to achieve my NQF level 4 and become a Junior Python,Junior Web and a Junior Software developer.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="https://ctutraining.ac.za/qualifications/programming-foundation/" >
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Read more...</button>
        </a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
    <!-- Inser image     -->
    </div>
    </div>
  </div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">
        Ethical Hacking    
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        This course is highly practical but it won't neglect the theory; we'll start with ethical hacking basics, breakdown the different penetration testing fields and install the needed software (on Windows, Linux and Apple Mac OS), then we'll dive and start hacking straight away</p>
      <p class="draw">In progress...</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="https://www.udemy.com/course/learn-ethical-hacking-from-scratch/?kw=learn+ethical+hacking&src=sac" >
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Read more...</button>
        </a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <!--  Insert image -->
    </div>
    </div>
  </div>
  
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">
        Complete React Native Bootcamp (with Hooks)
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Using the latest version of React Native, this course is focused on efficiency. Never spend time on confusing, out of date, incomplete tutorials anymore, and instead, learn to build professional and modern Android and iPhone (iOS) apps! </p>
      <p class="draw">In progress...</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="https://www.udemy.com/course/complete-react-native-mobile-development-zero-to-mastery-with-hooks/" >
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Read more...</button>
        </a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
]         </div>
    </div>
  </div>

  <%- include("partials/footer") -%>