<%- include('partials/header') -%>

<div class="draw free">Drag me ↬ </div>
<section class="first-section gradient-background">
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <h1>I am a </h1>
            <h1 id="retype"> </h1>
          </div>
          <div class="col none">
            <div class="draggable">
                <div class="circle">
                    <div class="wave"></div>
                  </div>
            </div>
          </div>
        </div>
      </div>
</section>


<section class="second-section">
    <div class="grid-container">
        <div class="feature  span-img transform-1 ">
            <div class="feature-context ">
                <a href="/about">About me</a>
                
            </div>
    </div>
        <div class="feature  gradient-background transform-2">
            
            <div class="white-background-wrap">
                <div class="feature-context ">
                    <a href="/languages">Languages/ <br>Frameworks</a>
                    
                </div>
            </div>

        </div>
        <div class="feature  gradient-background transform-1">
            <div class="white-background-wrap">
            <div class="feature-context ">
                <a href="/projects">Projects</a>
            </div>  
            </div>

        </div>
        <div class="feature  gradient-background transform-2">
            <div class="white-background-wrap">
            <div class="feature-context">
                <a href="/contact">Contact me</a>
            </div> 
            </div>
        </div>
        <div class="feature  gradient-background transform-1">
            <div class="white-background-wrap">
                            <div class="feature-context">
                <a href="/certification">Certification</a>
            </div>
            </div>
        </div>
        <div class="feature span-column gradient-background transform-2 ">
            <div class="colum-span-img  ">
            <div class="feature-context">
                
            </div>
            </div>
        </div>
        
    </div>
</section>


<%- include('partials/footer') -%>